
.btn, 
.btn-primary {
  background-color: var(--color-ui-background) !important;
  border-color: var(--color-ui-background) !important;
  color: var(--color-text-light) !important;
}

.btn:hover, 
.btn-primary:hover,
.btn:focus, 
.btn-primary:focus,
.btn:active, 
.btn-primary:active,
.btn.active, 
.btn-primary.active {
  background-color: var(--color-accent) !important;
  border-color: var(--color-accent) !important;
  color: var(--color-text-light) !important;
  box-shadow: none !important;
}


.link-login {
  background: none;
  border: none;
  color: #0d6efd;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.link-login:hover {
  text-decoration: underline;
  color: #0a58ca;
}



.search-button, .profile-button, .home-button {
    background: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
}

.search-button i, .home-button i, .profile-button i {
    font-size: 24px;
    color: var(--color-text-main);
}


.action-buttons {
    display: flex;
    gap: 10px;
}

.btn.like-button, .btn.comment-button, .btn.pdf-button, .btn.submit-comment {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn.like-button:hover, .btn.comment-button:hover, .btn.pdf-button:hover, .btn.submit-comment:hover {
    background-color: var(--color-secondary);
}


.image-button, .attach-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--color-text-subtle);
}
.image-button:hover, .attach-button:hover {
    color: var(--color-primary);
}



.btn-edit {
  font-size: 14px;
  padding: 8px 16px;
  background-color:  #b58d93;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-edit:hover {
  background-color:  #b58d93;
}

.edit-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #b58d93;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
}
.delete-account,
.save-changes-section {
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  align-items: center;
  border-bottom: none;
  top: 0.5rem;
  right: 0.5rem;
  background-color:  #888789;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
}




