.profile-front-page {
  background-color: var(--color-background-card);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cover-photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-color: #ccc;
  border-radius: 8px 8px 0 0;
}


.profile-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  border-radius: 0 0 8px 8px;
}


.left-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-avatar {
  font-size: 70px;
  color: #666;
  background-color: var(--color-background-card);
  border-radius: 50%;
  padding: 5px;
}

  .user-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  }


  .profile-front-page .user-name {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
  }
  
  .profile-stats {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: var(--color-background-main);
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto 20px;
    max-width: 600px;
  }

.titulo-publicaciones {
  background: #f5f5f5ed;
  text-align: center;
  font-size: 16px;
}

.profile-front-page {
  background-color: var(--color-background-card);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cover-photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-color: #ccc;
  border-radius: 8px 8px 0 0;
}

/* Sección blanca debajo de la portada */
.profile-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  border-radius: 0 0 8px 8px;
}

/* Lado izquierdo: foto + nombre */
.left-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-avatar {
  font-size: 70px;
  color: #666;
  background-color: var(--color-background-card);
  border-radius: 50%;
  padding: 5px;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/* Botón lado derecho */
.btn-edit {
  font-size: 14px;
  padding: 8px 16px;
  background-color: #a654e3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-edit:hover {
  background-color: #8439be;
}
